.prime_location_top {
    padding: 1rem 0;
    background-color: #A3834A;
}
.prime_location_top .main_heading {
    color: var(--color-black);
    margin-left: auto;
    text-align: right;
    font-size: 35px;
    font-weight: 700;
    font-family: var(--font-bold);
}
.prime_locations_grids {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
}
.prime_locations_grids_item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.flex_heading_block {
    display: flex;
    gap: 20px;
    align-items: center;
}
.prime_locations_grids_item:nth-child(2n) .flex_heading_block {
    flex-direction: row-reverse;
}
.title_line {
    flex: 1;
    height: 1px;
    background-color: var(--color-yellow);
}
.prime_locations_grids_item .paragraph {
    font-size: 18px;
    color: var(--color-white);
    line-height: 1.2;
}
.prime_location_flex {
    display: flex;
    gap: 2rem;
}
.prime_locations_grids_item:nth-child(2n) .prime_location_flex {
    flex-direction: row-reverse;
}
.prime_location_overview {
    flex: 0 0 290px;
    display: flex;
    flex-direction: column;
}
.prime_location_gallery {
    flex: 1;
}
.prime_location_overview .heading {
    color: var(--color-yellow);
    margin-bottom: 1.5rem;
}
.project_overview_lists {
    list-style: inherit;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}
.prime_location_btn {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 18px;
    border-radius: 8px;
    background-color: var(--color-transparent);
    color: var(--color-yellow);
    padding: 5px 20px;
    border: 1px solid var(--color-yellow);
    margin-top: auto;
    margin-bottom: 40px;
    width: max-content;
}
.prime_location_btn:hover,
.prime_location_btn:active {
    background-color: var(--color-yellow) !important;
    color: var(--color-black) !important;
    border: 1px solid var(--color-yellow) !important;
}
.prime_location_btn.load_more {
    background-color: #565656;
    color: var(--color-white);
    width: max-content;
    margin: auto;
    border-color: #565656;
}
.prime_location_btn.load_more:hover,
.prime_location_btn.load_more:active {
    background-color: var(--color-yellow) !important;
    color: var(--color-black) !important;
}
.prime_location_gallery .gallery-container .thumb-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex: 1;
    padding-bottom: 40px;
}
.prime_location_gallery .gallery-container .thumb-list .thumb {
    height: 185px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
.prime_location_gallery .gallery-container {
    display: flex;
    gap: 10px;
}
.prime_locations_grids_item:nth-child(2n) .prime_location_gallery .gallery-container {
    flex-direction: row-reverse;
}
.prime_location_gallery .main-image-area {
    flex: 1;
    max-width: 380px;
}
.prime_location_gallery .main-image-area .main-image {
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    max-height: 380px;
    width: 100%;
}
.prime_location_gallery .main-image-area .gallery_arrows {
    padding-top: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
}
.prime_location_gallery .main-image-area .gallery_arrows .arrow {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #1E1E1E !important;
}
.prime_location_gallery .main-image-area .gallery_arrows .arrow:hover {
    background-color: var(--color-yellow) !important;
    color: var(--color-black);
}
.prime_location_gallery .main-image-area .gallery_arrows .arrow svg {
    font-size: 18px;
}
@media (max-width: 1399px) {
    .prime_location_gallery .main-image-area {
        max-width: 320px;
    }
}
@media (max-width: 1199px){
    .prime_location_top .main_heading {
        font-size: 30px;
    }
    .prime_location_flex,
    .prime_locations_grids_item:nth-child(2n) .prime_location_flex {
        flex-direction: column;
    }
    .prime_location_overview {
        flex: 1;
    }
    .prime_locations_grids_item {
        gap: 2rem;
    }
}
@media (max-width: 991px) {
    .prime_location_gallery .main-image-area {
        max-width: 280px;
    }
    .prime_location_gallery .main-image-area .main-image {
        max-height: 320px;
    }
    .prime_location_gallery .gallery-container .thumb-list .thumb {
        height: 155px;
    }
    .prime_location_btn  {
        margin-bottom: 10px;
    }
}
@media (max-width: 767px){
    .prime_location_top .main_heading {
        font-size: 25px;
    }
    .prime_locations_grids_item .paragraph {
        font-size: 16px;
    }
    .gallery_prime_location {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .prime_location_gallery .gallery-container,
    .prime_locations_grids_item:nth-child(2n) .prime_location_gallery .gallery-container {
        flex-direction: column-reverse;
    }
    
    .prime_location_gallery .gallery-container .thumb-list .thumb {
        height: 160px;
    }
    .prime_location_gallery .gallery-container .thumb-list {
        padding-bottom: 0;
    }
    .prime_location_gallery .main-image-area .main-image {
        height: 400px;
        max-height: unset;
    }
    .prime_location_gallery .main-image-area {
        max-width: 100%;
    }
}
@media (max-width: 420px) {
    .prime_location_gallery .gallery-container .thumb-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .prime_location_gallery .main-image-area .main-image {
        height: 300px;
    }
}